@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Oxygen&family=Oxygen+Mono&family=Red+Hat+Display:wght@300&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');

html {
    scroll-behavior: smooth
}

html,
body {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    background-color: #ffffff;
    color: #000000;
    position: relative;
}

button, a {
    transition: all .3s;
}

.ud-btn-white {
    width: 12.5rem;
    height: 3.125rem;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #253E5E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ud-btn-white:hover {
    background-color: #20AEEA;
    color: #FFFFFF;
}

.ud-btn-border {
    border: 1px solid #253E5E;
    width: 12.5rem;
    height: 3.125rem;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #253E5E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ud-btn-border:hover {
    background-color: #20AEEA;
    color: #FFFFFF;
    border: none;
}

.ud-dropdown-menu {
    min-width: 5rem;
    background-color: #253E5E;
    border-radius: 0%;
    left: 0rem;
    padding: 0;
}

.ud-nav-item:hover svg path {
    stroke: #20AEEA;
}

.dropdown-item.active {
    background-color: #253E5E;
}

.ud-dropdown-menu a {
    color: #FFFFFF;
}

.ud-dropdown-menu a:active {
    background-color: inherit;
}

.ud-dropdown-menu a:hover {
    background-color: #20AEEA;
    color: #FFFFFF;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.ud-nav-link:hover {
    color: #20AEEA !important;
}

.header {
    background-color: #253E5E;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-icon .nav-item {
    margin-left: 1.875rem;
    display: flex;
    align-items: center;
}

.nav-sec {
    border-bottom: 1px solid #E1E1E1;
}

.nav-sec a {
    color: #000000;
}

.navbar-sec .nav-item {
    margin-left: 5rem;
}

.carousel-backdrop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 20px;
    right: 0;
    padding: 3rem 2rem;
}

.carousel-title {
    font-size: 3.125rem;
    color: #000000;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.carousel-indicators .active {
    background-color: #20AEEA;
}

.carousel-info {
    color: #000000;
    font-size: 1.25rem;
    margin-bottom: 3.125rem;
    line-height: 1.438rem;
}

.ud-control-prev {
    background-color: #253E5E;
    border-radius: 50px;
    height: 3.125rem;
    width: 3.125rem;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.ud-control-prev svg {
    transform: rotate(90deg);
}

.ud-control-next svg {
    transform: rotate(270deg);
}

.ud-control-next {
    background-color: #253E5E;
    border-radius: 50px;
    height: 3.125rem;
    width: 3.125rem;
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.ud-control-next:hover {
    background-color: #20AEEA;
}

.ud-control-prev:hover {
    background-color: #20AEEA;
}  

.ud-carusel-indicators-container {
    position: absolute;
    left: 8%;
    margin-left: 0;
    display: flex;
    justify-content: start;
}

.ud-carousel-indicators {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
}

.ud-carousel-indicators:active {
    background-color: #253E5E;
}

.product-container {
    border: 1px solid #E1E1E1;
    padding: 10px;
    position: relative;
}

.section-title {
    margin: 6.25rem 0 2.5rem 0;
    text-align: center;
    color: #20AEEA;
    font-weight: 400;
    font-size: 2.5rem;
}

.new-sign {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2.25rem;
    width: 2.25rem;
    background-color: #253E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ic-favorite-btn {
    position: absolute;
    top: 20px;
    left: 200px;
    right: 0;
    border: none;
    background-color: inherit;
}

.ic-favorite-btn:hover svg {
    fill: #20AEEA;
}

.product-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
    height: 1.2rem;
    font-weight: bold;
}

.product-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #898989;
    overflow: hidden;
    height: 2.5rem;
}

.feedback {
    margin: 0 0 0 10px;
    font-weight: bold;
}

.feedback a {
    color: #20AEEA;
    font-weight: 400;
}

.container-flex {
    display: flex;
}

.es-product-bag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253E5E;
    border-radius: 50px;
    padding: 0.680rem 2.675rem;
    border: 0;
    transition: all .3s;
}

.es-product-bag:hover {
    background-color: #20AEEA;
}

.es-product-controls-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 2px 7px;
    border: 1px solid #20AEEA;
    background-color: #20AEEA;
}

.flex-just-center {
    display: flex;
    justify-content: center;
}

.es-product-controls-blue .btn {
    color: #FFFFFF;
}

.es-product-controls-blue span {
    color: #FFFFFF;
}

.es-product-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 0.265rem;
    border: 1px solid #20AEEA;
}

.es-product-controls .btn {
    color: #000000;
}

.es-product-quantity {
    font-size: 1rem;
    color: #000000;
    width: 20%;
    display: flex;
    justify-content: center;
}

.product-price {
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.discount-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #898989;
}

.star-btn {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: flex-start;
    padding: 0;
}

.ud-products-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.ud-product-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 2.5rem;
}

.menu {
    text-transform: uppercase;
    color: #000000;
    font-size: 1.25rem;
    position: absolute;
    top: 330px;
    right: 0;
    left: 40px;
}

.ud-position {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.ud-list-popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.ud-item-popular {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.ud-item-popular:hover .img-fluid {
    transform: scale(1.1);
    opacity: 0.5;
}

.ud-item-popular .img-fluid {
    transition: all 0.5s ease;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.ud-item-popular:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1;
}

.ud-item-popular:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1;
}

.ud-item-popular:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2;
}

.ud-item-popular:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2;
}

.es-category-list {
    position: relative;
}

.ud-carusel-item {
    flex: 0 0 25%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 2.5rem;
}

.slick-arrow {
    position: absolute;
    top: -87px;
    background-color: transparent;
    border: none;
    transition: all 300ms;
}

.slick-arrow:hover {
    opacity: 0.75;
}

.slick-arrow:focus {
    outline: none;
}

.slick-disabled {
    opacity: .4;
}

.slick-prev {
    right: 4rem;
}

.slick-next {
    right: 0;
}

footer {
    background-color: #253E5E;
}

.ud-footer-container {
    padding: 3.75rem 0;
    color: #FFFFFF;
    border-bottom: 1px solid #85A8D6;
}
.es-footer-socials {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1.875rem;
}

.es-footer-socials a {
    margin-right: 1.25rem;
    color: #FFFFFF;
}

.es-footer-socials a:last-child {
    margin-right: 0;
}

.es-footer-socials a:hover svg {
    fill: #20AEEA;
}

.es-footer-logo {
    margin-bottom: 3.125rem;
}

.es-footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.es-footer-list li {
    margin-bottom: 1.25rem;
}

.es-footer-list li a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.es-footer-list li:last-child {
    margin-bottom: 0;
}

.ud-container-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.ud-footer-cc {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0.625rem;
}

.ud-footer-number {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 1.875rem;
    color: #FFFFFF;
}

.ud-footer-number a {
    color: #FFFFFF;
}

.ud-footer-number a span {
    color: #20AEEA;
}

.ud-footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.es-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #85A8D6;
    padding: 1.375rem 0;
}

.es-footer-developer a {
    text-decoration: underline;
    color: #85A8D6;
}

.ud-dropdown-toggle {
    padding-left: 0;
}

.page-links {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.page-links:hover {
    color: #000000;
}

.links-wrapper {
    margin: 3.125rem 0;
}

.pages-navigation {
    margin: 3.125rem 0;
}

.slash-sign {
    color: #20AEEA;
}

.page-name {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #20AEEA;
    margin-bottom: 2.5rem;
}

.navbar-bg {
    background-color: #253E5E;
}

.info-product-wrap {
    padding: 0.875rem 0;
}

.info-product-wrap p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    margin: 0;
}

.es-ch-action .btn:focus {
    outline: 0;
    box-shadow: none;
}

.product-name {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 1.25rem;
}

.ratio-dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #000000;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary:focus {
    background-color: inherit;
}

.category-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-weight: bold;
}

.category-product-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #898989;
}

.accordion {
    margin-top: 1.875rem;
}

.card {
    border-right: none;
    border-left: none;
    border-top: #E1E1E1 1px solid;
}

.card-header {
    background-color: inherit;
    border-bottom: none;
    padding-left: 0;
}

.card-heading .collapsed svg {
    transform: rotate(360deg);
}

.card-heading  svg {
    transform: rotate(180deg);
}

.card-heading path {
    stroke: #000000;
}

.card-body {
    padding-top: 0;
    padding-left: 0;
}

.card-body:last-child {
    border-bottom: #E1E1E1 1px solid;
}

.btn-link {
    font-weight: 500;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.btn-link:focus {
    box-shadow: none;
    text-decoration: none;
}

.form-check {
    margin-bottom: 1.5rem;
}

.form-check-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem !IMPORTANT;
    margin-left: -1.25rem !IMPORTANT;
}

.dropdown-radios {
    min-width: 220px;
}

.dropdown-toggle-radio::after {
    margin-left: 5.5em;
}

.page-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #20AEEA;
}

.btn-secondary {
    background-color: inherit;
    border: none;
    color: #000000;
    padding-left: 0;
    padding-right: 0;
}

.btn-secondary.dropdown-toggle:hover {
    background-color: inherit;
    color: #20AEEA;
}

.show>.btn-secondary.dropdown-toggle {
    background-color: inherit;
    color: #000000;
    border: none;
}

.btn-secondary:focus {
    box-shadow: none;
    border: none;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.ud-product-wrapper {
    border: 1px solid #E1E1E1;
    padding: 5px;
}

.page-item .page-link {
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin: 5px;
}

.page-item .page-link:hover {
    border: 1px solid #20AEEA;
    background-color: inherit;
}

.page-item .page-link:focus {
    box-shadow: none;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #253E5E;
    border-radius: 50%;
}

.page-item:first-child .page-link:hover {
    background-color: #20AEEA;
}

.page-item:first-child .page-link svg {
    transform: rotate(90deg);
}

.page-item:last-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #253E5E;
    border-radius: 50%;
}

.page-item:last-child .page-link:hover {
    background-color: #20AEEA;
}

.page-item:last-child .page-link svg {
    transform: rotate(270deg);
}

.es-cart-header {
    color: #ffffff;
    font-size: 1.25rem;
    background-color: #253E5E;
    padding: 1.25rem 0;
}

.es-ch-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.es-ch-product {
    width: 40%;
    display: flex;
    text-align: left;
}

.es-ch-price {
    width: 20%;
    font-size: 1.25rem;
    font-weight: 500;
}

.es-ch-quantity {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.es-ch-total {
    width: 20%;
    font-size: 1.25rem;
    font-weight: 500;
}

.es-ch-action {
    width: 10%;
}

.es-cart-products {
    color: #000000;
    padding-bottom: 3rem;
}

.es-ch-img {
    width: 122px;
    height: 122px;
    margin-right: 1.5rem;
}

.es-ch-detail {
    display: flex;
}

.es-ch-title {
    font-size: 1.375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.es-ch-description {
    font-weight: 300;
    max-height: 5rem;
    overflow: hidden;
}

.es-ch-modifiers {
    padding-top: 0.5rem;
    color: #555555;
    font-size: .9rem;
}

.es-ch-quantity .es-product-controls {
    width: 120px;
}

.es-product-quantity {
    font-size: 1.25rem;
    padding: 0 0.5rem;
    line-height: 2;
}

.es-cart-item {
    padding: 2.5rem 0;
    border-bottom: 1px solid #D4D4D4;
}

.es-cart-footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 2rem 0;
}

.es-back-link {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.es-back-link:hover {
    color: #000000;
}

.es-back-link path {
    stroke: #20AEEA;
}

.es-cf-right {
    width: 40%;
}

.es-cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.875rem;
}

.btn-bread {
    color: #ffffff;
    border-radius: 50px;
    background-color: #253E5E;
    transition: all 300ms;
}

.btn-bread:hover {
    background-color: #20AEEA;
    color: #FFFFFF;
}

.btn-lg {
    font-size: 1.125rem;
    padding: 0.8rem 3.5rem;
}

.btn-favorites svg {
    fill: #20AEEA;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.empty-desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.empty-desc span {
    color: #20AEEA;
}

.empty-desc-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-border {
    border: 1px solid #20AEEA;
}

.btn-like-extra {
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

#back-top {
    position: fixed;
    right: 20px;
    bottom: 80px;
    background-color: #20AEEA;
    border-radius: 50%;
    padding: 1.2rem;
    -webkit-transition: .7s all cubic-bezier(.03, .88, .34, .97);
    transition: .7s all cubic-bezier(.03, .88, .34, .97);
    -webkit-box-shadow: 0 5px 18px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 18px 2px rgba(0, 0, 0, .2);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 999
}

#back-top img {
    transform: rotate(180deg);
}

#back-top.visible {
    visibility: visible;
    opacity: .9;
    -webkit-transform: scale(1);
    transform: scale(1)
}

#back-top.visible:hover {
    opacity: 1;
    background-color: #253E5E;
}

.product-info-container {
    padding-left: 8.75rem;
}

.product-code {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #898989;
    margin-bottom: 1.5rem;
}

.product-prices {
    margin: 1.5rem 0;
    display: flex;
}

.product-usage {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-top: 0.938rem;
    margin-bottom: 1.875rem;
}

.discount-price-p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.without-discount-p {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-decoration-line: line-through;
    color: #898989;
    margin-left: 2.5rem;
}

.btn-basket {
    padding: 0 7.940rem;
    border-radius: 3.125rem;
    background-color: #253E5E;
    margin-left: 1.25rem;
    color: #FFFFFF;
}

.btn-basket:hover {
    background-color: #20AEEA;
    color: #FFFFFF;
    border-color: #20AEEA;
}

.ud-tab-nav {
    border: none;
    margin-top: 3.125rem;
    margin-bottom: 2.5rem;
}

.ud-tab-item .nav-link {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 0;
    min-width: 9.375rem;
}

.ud-tab-nav button:nth-child(1) {
    border-left: none;
}

.nav-link-last {
    border-right: none !important;
}

.ud-tab-item button:focus {
    outline: none;
    color: #20AEEA !important;
}

.ud-tab-item button:hover {
    color: #20AEEA;
}

.nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #E1E1E1;
}

.tab-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #20AEEA;
    margin-bottom: 1.875rem;
}

.product-usage-tab {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
}

.product-info-tab {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-feedback {
    background-color: #253E5E;
    color: #FFFFFF;
}

.btn-feedback:hover {
    background-color: #20AEEA;
    color: #FFFFFF;
}

.feedback-wrapper {
    margin: 2.5rem 0;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1.875rem;
}

.feedback-wrapper:last-child {
    border-bottom: none;
}

.feedbacker {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.written-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #898989;
    margin-left: 1.25rem;
}

.stars-wrapper svg {
    margin-right: 0.625rem;
}

.feedback-full {
    margin-top: 0.938rem;
    margin-bottom: 0.625rem;
}

.read-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #253E5E;
}

.read-more:hover {
    color: #20AEEA;
    text-decoration: underline;
}

.pro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5rem;
}

.ud-margin {
    margin-bottom: 2.5rem;
}

.pro-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
}

.pro-usage {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #898989;
}

.star-btn:hover svg path {
    fill: #20AEEA;
}

.product-evaluation .star-btn {
    margin-right: 1.063rem;
}

.feedback-form-wrapper {
    border: #E1E1E1 1px solid;
    padding: 2.5rem;
}

.write-feedback-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #20AEEA;
}

.form-control {
    border-radius: 0;
    padding: 24px 6px;
}

.search-form-control {
    width: 100%;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #20AEEA;
    outline: 0;
    box-shadow: none;
}

.btn-submit {
    width: 100%;
    border-radius: 3.125rem;
    background-color: #253E5E;
    padding: 0.938rem;
    border: none;
}

.form-group {
    margin-bottom: 1.875rem;
}

.form-group label {
    font-weight: bold;
}

.feedback-heading {
    margin-top: 3.125rem;
}

.favorite-btn-feedback {
    position: absolute;
    top: 1rem;
    left: 11rem;
    border: none;
    background-color: inherit;
}

.favorite-btn-feedback:hover svg {
    fill: #20AEEA;
}

.without-border {
    border-bottom: none;
}

.btn-blue {
    width: 50%;
    border-radius: 3.125rem;
    background-color: #20AEEA;
    margin-right: 1.25rem;
    padding: 13px 0;
    border: none;
}

.btn-counter {
    border-radius: 50px;
    width: 40%;
}

.btn-blue:hover {
    background-color: #253E5E;
}

.btn-blue-pay {
    border-radius: 3.125rem;
    background-color: #FFFFFF;
    margin-right: 1.25rem;
    padding: 0.813rem 4.688rem;
    border: 1px solid #253E5E;
    color: #000000;
}

.btn-blue-pay:hover {
    background-color: #253E5E;
    border-color: #253E5E;
}

.btn-dark-blue {
    width: 50%;
    border-radius: 3.125rem;
    background-color: #253E5E;
    padding: 13px 0;
    border: none;
}

.btn-dark-blue:hover {
    background-color: #20AEEA;
}

.btn-dark-blue-pay {
    border-radius: 3.125rem;
    background-color: #253E5E;
    padding: 0.813rem 4.688rem;
    border: none;
    margin-right: 1.25rem;
}

.btn-dark-blue-pay:hover {
    background-color: #20AEEA;
}

.margin-bottom-wrp {
    margin-bottom: 2.5rem;
}

.radio-btn-wrapper {
    margin-right: 4.317rem;
}

.map-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.map-heading span {
    color: #20AEEA;
}

.margin-con {
    margin-bottom: 0.875rem;
}

.margin-bt-wrp {
    margin-bottom: 6.25rem;
}

.pro-info-wrp {
    margin-right: 1.25rem;
}

.order-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.flex-jt-bw {
    justify-content: space-between;
}

.total-price-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #253E5E;
    font-weight: bold;
}

.mar-bt {
    margin-bottom: 1.688rem;
}

.border-bt {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1.688rem;
}

.order-delivery-p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.payment-wrapper {
    border: 1px solid #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.75rem 7.5rem;
}

.container-payment {
    display: flex;
    justify-content: center;
}

.payment-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
}

.order-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.order-number span {
    color: #20AEEA;
}

.payment-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}

.profile-info-container {
    border: 1px solid #E1E1E1;
    padding: 20px;
    margin-bottom: 20px;
}

.qr-code-container {
    border: 1px solid #E1E1E1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    padding: 10px 0;
}

.customer-info {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.personal-info {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.qr-code-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}

.customer-balance {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 0;
}

.customer-balance span {
    color: #20AEEA;
}

.exit-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #000000;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.nothing-p {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #20AEEA;
}

.start-search {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-outline-success {
    background-color: #20AEEA;
    border: none;
    padding: 13px 14px;
    border-radius: 0;
}

.search-form {
    padding-right: 450px;
    margin-right: 0;
}

tbody:last-child {
    border-bottom: 1px solid #E1E1E1;
}

.radio-input {
    appearance: none;
    background-color: #ffffff;
    width: 16px;
    height: 16px;
    border: 1px solid #cccfdb;
    margin: 0;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.radio-input::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s transform ease-in-out;
    box-shadow: inset 6px 6px #ffffff;
}

.radio-input:checked {
    background: #0077ff;
    border-color: #0077ff;
}

.radio-input:checked::before {
    transform: scale(1);
}

.radio {
    cursor: pointer;
    padding: 6px 8px;
}

.radio:not(:last-child) {
    margin-right: 6px;
}